<div class="block">
  <div class="nom"> Nom : {{bassin.nom}} </div>
  <br>

  <div class="menace" *ngIf="bassin.responsable"> Responsable  : {{bassin.responsable.nom}} {{bassin.responsable.prenom}} </div>

  <br>
  <div class="esperance"> Etat : {{bassin.etat}} </div>
  <br>
  <div class="regime"> Volume : {{bassin.volume}} </div>
  <br>
  <div class="menace"> Capacité maximale : {{bassin.capacite_max}} </div>

  <br>
  <div *ngIf="role == 'gestionnaire'" class="plus"><a routerLink="/bassin_modifier_espece/{{role}}/{{bassin.id}}">Modifier ses espèces</a></div>


  <br>
  <div class="plus"><a routerLink="/bassin_fiche/{{role}}/{{bassin.id}}">En savoir plus ...</a></div>

  <div class="links">
    <a *ngIf="role == 'gestionnaire'" title="delete" mat-fab (click)="onDelete()" routerLink="/bassins/{{role}}"><mat-icon>delete</mat-icon></a>
    <a *ngIf="role == 'gestionnaire'" title="update" mat-fab routerLink="/bassin_update/{{role}}/{{bassin.id}}"> <mat-icon >ballot</mat-icon></a>
  </div>
</div>
