<div class="title"> Modifiez les espèces de votre bassin :</div>
<br>
<br>

<div class="item">
<ul class="especes">
  <p class="titre" *ngIf="bassin.lst.length != 0" > Espèce(s) présente(s) : </p>
  <p class="titre" *ngIf="bassin.lst.length == 0"> Aucune espèce dans ce bassin </p>

  <li  *ngFor="let e of bassin.lst">
    {{e.nom}}
    <a title="delete" mat-fab (click)="onDelete(e.id)"><mat-icon>delete</mat-icon></a>

    <p><br /></p>
  </li>
</ul>
</div>

<div class="item">
  <ul class="especes" >
    <p class="titre" *ngIf="espece_ajout.length != 0"> Espèce(s) à ajouter(Encore {{bassin.capacite_max - bassin.lst.length}} place(s) disponible(s)) :</p>
    <p  class="titre" *ngIf="espece_ajout.length == 0"> Aucune espèce disponible </p>

    <li  *ngFor="let e of espece_ajout">
      {{e.nom}}
      <a title="delete"  *ngIf="(bassin.capacite_max - bassin.lst.length != 0)"  mat-fab (click)="onAdd(e.id)"><mat-icon>add_shopping_cart</mat-icon></a>

      <p><br /></p>
    </li>
  </ul>
</div>

<div class="button">
  <button routerLink="/bassins/{{role}}" type="submit" class="button">Retour</button>
</div>
