<div class="block">
  <div class="nom"> Nom : {{secteur.nom}} </div>
  <br>
  <div class="esperance"> Localisation : {{secteur.localisation}} </div>
  <br>
 <div *ngIf="role == 'gestionnaire'" class="plus"><a routerLink="/secteur_modifier_bassin/{{role}}/{{secteur.id}}">Modifier ses bassins</a></div>


  <br>
  <div class="plus"><a routerLink="/secteur_fiche/{{role}}/{{secteur.id}}">En savoir plus ...</a></div>

  <div class="links">
    <a *ngIf="role == 'gestionnaire'" title="delete" mat-fab (click)="onDelete()" routerLink="/secteurs/{{role}}"><mat-icon>delete</mat-icon></a>
    <a *ngIf="role == 'gestionnaire'" title="update" mat-fab routerLink="/secteur_update/{{role}}/{{secteur.id}}"> <mat-icon >ballot</mat-icon></a>
  </div>
</div>
