<div class="title"> <span class="titleee">Connexion :</span>

</div>
<div class="formulaire"><form [formGroup]="connexionForm" *ngIf="connexionForm">
  <div class="item">
    <label>
      Login :
      <input type="text" formControlName="login">
    </label>
  </div>
  <div class="item">
    <label>
      Mot de passe :
      <input *ngIf="!show" type="password" formControlName="password">
      <input *ngIf="show" type="text" formControlName="password">
      <a title="Observer les espèces" class="icone"(click)="showPassword()">  <img class="logo" src="../../assets/img/logo_affiche.png" />
      </a>
    </label>
  </div>
  <div class="button">
    <button (click)="onSubmit()" *ngIf="employe == null" type="submit" class="button" [disabled]="!connexionForm.valid">Connexion</button>
    <button (click)="cancel()" class="button">Annuler</button>
  </div>
</form>

