<div class="title"> <span class="titleee">Voici les bassins disponibles :</span>
  <a title="create" mat-fab routerLink="/bassin_create" (createBassin)="refreshBassins($event)"> Ajouter un bassin <mat-icon >create </mat-icon></a>

</div>
<div class="title">
  <span class="titleee">Effectuer une recherche : </span>
  <a title="create" routerLink="/bassin_search">Rechercher un bassin</a>
</div>

<ul class="especes">
  <li *ngFor="let bassin of bassins">
    <app-bassin [bassin]="bassin" (deleteBassin)="refreshBassins($event)">

    </app-bassin>
    <p><br /></p>
  </li>
</ul>


