<div class="title"> Rechercher dans les bassins :</div>
<br>
<br>

<div class="formulaire"><form [formGroup]="bassinForm">
  <div class="item">
    <label>
      Id :
      <input type="number" formControlName="id">
    </label>
  </div><br>
  <div class="item">
    <label>
      Nom :
      <input type="text" formControlName="nom">
    </label>
  </div>
  <div class="item">
    <label>
      Capacité maximale :
      <input type="number" formControlName="capacite_max">
    </label>
  </div>
  <div class="item">
    <label>
      Volume :
      <input type="number" formControlName="volume">
    </label>
  </div>
  <div class="item">
    <label>
      Etat :
      <select formControlName="etat">
        <option  [value]="null" > Aucun </option>
        <option *ngFor="let state of states" [value]="state" >{{state.toString()}}</option>
      </select>
    </label>
  </div>
  <div class="item">
    <label>
      Espèce :
      <select formControlName="espece">
        <option  [value]="null" > Aucune </option>
        <option *ngFor="let espece of especes" [value]="espece.id" >{{espece.nom}}</option>
      </select>
    </label>
  </div>
  <div class="item">
    <label>
      Responsable  :
      <select formControlName="responsable">
        <option  [value]="null" > Aucun </option>
        <option *ngFor="let employe of employes" [value]="employe.id" >{{employe.nom}}</option>
      </select>
    </label>
  </div>
  <div class="button">
    <button (click)="onSubmit()" type="submit" class="button" >Chercher</button>
    <button routerLink="/bassins" type="submit" class="button">Retour</button>
  </div>

</form>
</div>
<ul class="especes">
  <li *ngFor="let bassin of bassins">
    <app-bassin [bassin]="bassin" (deleteBassin)="refreshBassins($event)">

    </app-bassin>
    <p><br /></p>
  </li>
</ul>


