<div class="title"> <span class="titleee"> Bienvenue à vous !</span>
</div>
<ul class="especes">
  <li>
    <div class="item_navig"><a title="Visiter les bassins" class="icone" routerLink="home"> <img class="logo" src="../../assets/img/logo_bassin.jpg" />
    </a></div>
    Voir les bassins (Not available)
  </li>

  <li>
    <div class="item_navig"><a title="Observer les espèces" class="icone" routerLink="/especes"> <img class="logo" src="../../assets/img/logo_especes.png" />
    </a></div>
    Voir les espèces
  </li>

  <li>
    <div class="item_navig"><a title="Observer les animaux" class="icone" routerLink="/animaux"> <img class="logo" src="../../assets/img/logo_animaux.jpg" />
    </a></div>
    Voir les animaux
  </li>
</ul>

