li {
  list-style: none;
  display:block; float:left;;
  width:20%;
  margin-left: 40px;
  text-align : center;

}

div.title{
  text-align: center;
}

span.titleee{
    font-style: bold;
}

div.item_navig{
  border: 1px solid black;
}

a.icone{
  width: 20%;
  height: 200px;

}

img.logo{
  height: 200px;
  width: 100%;
}

