<br>

<div class="title"> Créez votre nouveau secteur :</div>
<br>
<br>

<div class="formulaire"><form [formGroup]="secteurForm" *ngIf="secteurForm">
  <div class="item">
    <label>
      Nom :
      <input type="text" formControlName="nom">
    </label>
  </div>
  <div class="item">
    <label>
      Localisation :
      <input type="text" formControlName="localisation">
    </label>
  </div>
  <div class="button">
    <button routerLink="/secteurs/{{role}}" (click)="onSubmit()" type="submit" class="button" [disabled]="!secteurForm.valid">Créer</button>
    <button routerLink="/secteurs/{{role}}" type="submit" class="button">Retour</button>
  </div>

</form>
</div>
