<br>

<div class="title"> Modifiez votre activité :</div>
<br>
<br>

<form [formGroup]="activiteForm">
  <div class="item">
    <label>
      Id :
      <input type="text" formControlName="id" disabled>
    </label>
  </div>

  <div class="item">
    <label>
      Nom :
      <input type="text" formControlName="nom">
    </label>
  </div>
  <div class="item">
    <label>
      Public :
      <select formControlName="public_act">
        <option [value]="true" > Oui</option>
        <option [value]="false" > Non</option>
      </select>
    </label>
  </div>
  <div class="item">
    <label>
      Bassin :
      <select formControlName="bassin">
        <option *ngFor="let bassin of bassins" [value]="bassin.id" >{{bassin.nom}}</option>
      </select>
    </label>
  </div>
  <div class="item">
    <label>
      Date de début :
      <input type="date" formControlName="date_debut">
    </label>
  </div>
  <div class="item">
    <label>
      Heure de début :
      <input type="time" formControlName="heure_debut" name="appt"
             min="09:00" max="23:00" required>
    </label>
  </div>

  <div class="item">
    <label>
      Date de fin :
      <input type="date" formControlName="date_fin">
    </label>
  </div>
  <div class="item">
    <label>
      Heure de fin :
      <input type="time" formControlName="heure_fin" name="appt"
             min="09:00" max="23:00" required>
    </label>
  </div>
  <div class="button">

  <button routerLink="/activites" (click)="onSubmit()" type="submit" class="button" [disabled]="!activiteForm.valid">Changer</button>
    <button routerLink="/activites" type="submit" class="button">Retour</button>
  </div>
</form>
