<div class="block">
<div class="nom"> Nom : {{espece.nom}} </div>
<br>
<div class="esperance"> Espérance : {{espece.esperance}} </div>
<br>
<div class="regime"> Régime : {{espece.regime}} </div>
<br>
<div class="menace"> Menacé : {{espece.menace}} </div>
<br>
  <div class="plus"><a routerLink="/espece_fiche/{{role}}/{{espece.id}}">En savoir plus ...</a></div>

  <div class="links">
<a *ngIf="role == 'responsable'" title="delete" mat-fab (click)="onDelete()" routerLink="/especes/{{role}}"><mat-icon>delete</mat-icon></a>
<a *ngIf="role == 'responsable'" title="update" mat-fab routerLink="/especes_update/{{role}}/{{espece.id}}"> <mat-icon >ballot</mat-icon></a>
</div>
</div>
