<form [formGroup]="calendrierForm" *ngIf="calendrierForm">

  <div class="item">
    <label>
      Année :
      <select formControlName="annee">
        <option *ngFor="let annee of annees" [value]="annee" >{{annee}}</option>
      </select>
    </label>
  </div>
  <div class="item">
    <label>
      Semaine :
      <select formControlName="semaine">
        <option *ngFor="let semaine of semaines" [value]="semaine" >{{getBeginEndOfWeek(semaine, calendrierForm.get('annee').value)}}</option>
      </select>
    </label>
  </div>

  <div class="button">
    <button (click)="onSubmit()" type="submit" class="button" [disabled]="!calendrierForm.valid">Recherche</button>
    <button routerLink="/calendriers" type="submit" class="button">Retour</button>
  </div>

</form>

<ul class="especes">
  <li *ngFor="let activite of activites">
    <app-activite [activite]="activite">

    </app-activite>
    <p><br /></p>
  </li>
</ul>
