div.back{
     position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
     background-image: url('/assets/img/background.jpg')  ;
}

div.data{
     margin: auto;
     top:7%;
     bottom: 0;
    width:80%;
    height: 100%;
    background: white;
}

.mat-toolbar.mat-primary {
  top: 0;
  left: 0;
  right: 0;
  background: #ffc275;
  color: black;
  border: solid 1px black;
  height: 7%


}

a.icone{
  width: 120px;
  height: 150px;

}

img.home{
  height: 50px;
}

