
<div class="back">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span><a title="Home" class="icone" routerLink="home"> <img class="home" src="../../assets/img/logo.png" /> </a></span>
      <a class="head" routerLink="/especes">  <span class="title">Especes </span></a>
      <a class="head" routerLink="/animaux">  <span class="title">Animaux </span></a>
      <a class="head" routerLink="/bassins">  <span class="title">Bassins </span></a>
      <a class="head" routerLink="/secteurs">  <span class="title">Secteurs </span></a>
     <span class="log" *ngIf="!isConnected">
       <div class="updown">
       Connexion anonyme :
       </div>
       <div class="updown">
         <a class="login" routerLink="/connexion"> Se connecter </a>
       </div>
     </span>
      <span class="log" *ngIf="isConnected">
       <div class="updown">
       Bienvenu Blaze :
       </div>
       <div class="updown">
         <a class="login" routerLink="/home"> Se déconnecter </a>
       </div>
      </span>

    </mat-toolbar-row>
  </mat-toolbar>
<div class="data">
  <router-outlet></router-outlet>
</div>
</div>
