
<div class="back">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span><a title="Home" class="icone" routerLink="home/{{role}}"> <img class="home" src="../../assets/img/logo.png" /> </a></span>
      <a class="head" routerLink="/especes/{{role}}">  <span class="title">Especes </span></a>
      <a class="head" routerLink="/animaux/{{role}}">  <span class="title">Animaux </span></a>
      <a class="head" routerLink="/bassins/{{role}}">  <span class="title">Bassins </span></a>
      <a class="head" routerLink="/secteurs/{{role}}">  <span class="title">Secteurs </span></a>
      <a class="head" routerLink="/activites/{{role}}">  <span class="title">Activites </span></a>
      <a *ngIf="role == 'gestionnaire'" class="head" routerLink="/employes/{{role}}">  <span class="title">Employes </span></a>
      <a *ngIf="role != 'visiteur'" class="head" routerLink="/calendriers/{{role}}">  <span class="title">Calendriers </span></a>

      <span class="log" *ngIf="!isConnected && !tryToConnect">
       <div class="updown">
       Connexion anonyme :
       </div>
       <div class="updown">
         <a class="login" (click)="tryConnect()"> Se connecter </a>
       </div>
     </span>
      <span class="log" *ngIf="isConnected && !tryToConnect">
       <div class="updown">
       Bienvenue {{employe.prenom}} :
       </div>
       <div class="updown">
         <a class="login" (click)="disconnect()"> Se déconnecter </a>
       </div>
      </span>

    </mat-toolbar-row>
  </mat-toolbar>
<div class="data">

  <router-outlet ></router-outlet>
</div>
</div>
<span class="connexion" *ngIf="tryToConnect">
         <app-connexion (connectEmploye)="isNowConnected($event)"></app-connexion>
</span>
