<div class="block">
  <div class="nom"> Nom : {{animal.nom}} </div>
  <br>
  <div class="esperance"> Sexe : {{animal.sexe}} </div>
  <br>
  <div class="regime"> Espèce : {{animal.espece.nom}} </div>
  <br>
  <div class="menace"> Signe distinctif : {{animal.signe_distinctif}} </div>
  <br>
  <div class="date1" *ngIf="animal.date_arrive"> Date d'arrivée : {{dateToString(animal.date_arrive)}} </div>
  <br>
  <div class="date2" *ngIf="animal.date_depart"> Date de départ : {{dateToString(animal.date_depart)}} </div>
  <br>
  <div class="plus"><a routerLink="/animal_fiche/{{role}}/{{animal.id}}">En savoir plus ...</a></div>

  <div class="links">
    <a *ngIf="role == 'responsable'" title="delete" mat-fab (click)="onDelete()" routerLink="/animaux/{{role}}"><mat-icon>delete</mat-icon></a>
    <a *ngIf="role == 'responsable'" title="update" mat-fab routerLink="/animal_update/{{role}}/{{animal.id}}"> <mat-icon >ballot</mat-icon></a>
  </div>
</div>
