<br>

<div class="title"> Rechercher une activité :</div>
<br>
<br>

<form [formGroup]="activiteForm" *ngIf="activiteForm">
  <div class="item">
    <label>
      Id :
      <input type="number" formControlName="id">
    </label>
  </div>

  <div class="item">
    <label>
      Nom :
      <input type="text" formControlName="nom">
    </label>
  </div>
  <div class="item">
    <label>
      Public :
      <select formControlName="public_act">
        <option [value]="null" >Aucun </option>
        <option [value]="true" > Oui</option>
        <option [value]="false" > Non</option>
      </select>
    </label>
  </div>
  <div class="item">
    <label>
      Bassin :
      <select formControlName="bassin">
        <option [value]="null" >Aucun </option>
        <option *ngFor="let bassin of bassins" [value]="bassin.id" >{{bassin.nom}}</option>
      </select>
    </label>
  </div>
  <div class="item">
    <label>
      Date de début :
      <input type="date" formControlName="date_debut">
    </label>
  </div>
  <div class="item">
    <label>
      Heure de début :
      <input type="time" formControlName="heure_debut" name="appt"
             min="09:00" max="23:00" required>
    </label>
  </div>

  <div class="item">
    <label>
      Date de fin :
      <input type="date" formControlName="date_fin">
    </label>
  </div>
  <div class="item">
    <label>
      Heure de fin :
      <input type="time" formControlName="heure_fin" name="appt"
             min="09:00" max="23:00" required>
    </label>
  </div>
  <div class="button">

    <button (click)="onSubmit()" type="submit" class="button">Rechercher</button>
    <button routerLink="/activites" type="submit" class="button">Retour</button>
  </div>
</form>

<ul class="especes">
  <li *ngFor="let activite of activites">
    <app-activite [activite]="activite" (deleteActivite)="refreshActivites($event)">

    </app-activite>
    <p><br /></p>
  </li>
</ul>

