<br>

<div class="title"> Créez votre nouvel employé :</div>
<br>
<br>

<div class="formulaire"><form [formGroup]="employeForm" *ngIf="employeForm">
  <div class="item">
    <label>
      Nom :
      <input type="text" formControlName="nom">
    </label>
  </div>
  <div class="item">
    <label>
      Prénom :
      <input type="text" formControlName="prenom">
    </label>
  </div>
  <div class="item">
    <label>
      Adresse :
      <input type="text" formControlName="adresse">
    </label>
  </div>

  <div class="item">
    <label>
      Date de naissance :
      <input type="date" formControlName="date_naissance">
    </label>
  </div>
  <div class="item">
    <label>
      Numéro sécurité sociale :
      <input type="number" formControlName="num_secu_sociale">
    </label>
  </div>
  <div class="item">
    <label>
      Rôle :
      <select formControlName="role">
        <option *ngFor="let role of roles" [value]="role" >{{role.toString()}}</option>
      </select>
    </label>
  </div>
  <div class="item">
    <label>
      Login :
      <input type="text" formControlName="login">
    </label>
  </div>
  <div class="item">
    <label>
      Password :
      <input *ngIf="!show" type="password" formControlName="password">
      <input *ngIf="show" type="text" formControlName="password">
      <button (click)="showPassword()" class="button">Afficher/Masquer</button>
    </label>
  </div>
  <div class="button">
    <button routerLink="/employes/{{role}}" (click)="onSubmit()" type="submit" class="button" [disabled]="!employeForm.valid">Créer</button>
    <button routerLink="/employes/{{role}}" type="submit" class="button">Retour</button>
  </div>

</form>
</div>
