<br>

<div class="title"> Modifiez votre espèce :</div>
<br>
<br>

<form [formGroup]="especeForm" *ngIf="especeForm">
  <div class="item">
  <label>
    Id :
    <input type="text" formControlName="id" disabled>
  </label>
  </div>
  <div class="item">
  <label>
    Nom :
    <input type="text" formControlName="nom">
  </label>
  </div>
  <div class="item">
  <label>
    Esperance :
    <input type="number" formControlName="esperance">
  </label>
  </div>
  <div class="item">
  <label>
    Regime :
    <input type="text" formControlName="regime">
  </label>
  </div>
  <div class="item">
  <label>
    Menace :
    <input type="number" formControlName="menace">
  </label>
  </div>

  <div class="button">
    <button routerLink="/especes/{{role}}" (click)="onSubmit()" type="submit" class="button" [disabled]="!especeForm.valid">Changer</button>
    <button routerLink="/especes/{{role}}" type="submit" class="button">Retour</button>
  </div>
</form>
