<div class="block">
  <div class="nom"> Login : {{employe.login}}  </div>
  <br>
  <div class="prenom"> Nom : {{employe.nom}}  </div>
  <br>
  <div class="prenom"> Prénom : {{employe.prenom}}  </div>
  <br>
  <div class="esperance"> Adresse : {{employe.adresse}} </div>
  <br>
  <div class="regime"> Date de naissance : {{dateToString(employe.date_naissance)}} </div>
  <br>
  <div class="menace"> Numéro de sécurité sociale : {{employe.num_secu_sociale}} </div>
  <br>
  <div class="menace"> Rôle : {{employe.role.toString()}} </div>
  <br>
  <div class="plus">
    <a routerLink="/employe_fiche/{{role}}/{{employe.id}}">En savoir plus ...</a>
  </div>

  <div class="links">
    <a *ngIf="role == 'gestionnaire'" title="delete" mat-fab (click)="onDelete()" routerLink="/employes/{{role}}"><mat-icon>delete</mat-icon></a>
    <a *ngIf="role == 'gestionnaire'" title="update" mat-fab routerLink="/employe_update/{{role}}/{{employe.id}}"> <mat-icon >ballot</mat-icon></a>
  </div>
</div>
